
body button:hover{
    cursor:pointer;

}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: auto;
    overflow: hidden;

}
.bg_wallpaper{
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    /*background: linear-gradient(135deg, #830343, #ff6b81);*/
  /*  background: linear-gradient(to bottom right, #0a4bda,#ec167a);*/

}
.bg_wallpaper img{
    margin: 0;
    width: 100vw;
    height: 100vh;
}



.project-title{
width: 100%;
height: min-content;
display: flex;
justify-content: center;
padding: 0;
margin: 0;
font-weight: bold;
cursor: pointer;
}
#showproj_btn{
    font-size: 20pt;
    font-family:'Courier New', Courier, monospace;
}

.main-content {
    left: 0;
    right: 0;
   overflow: hidden;
    height: 100vh;
    position: relative;
    z-index: 10;
}
.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    color: #f8f3f3;
}

#about-me-title{
    margin-top: 30px;
    font-size: 48pt;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    

    
}

.about-me p{
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}





a {
    color: #1877F2; /* Facebook blue */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    
}
.fa-facebook {
    color: #076cf1;  /* Facebook blue */
    transition: 0.3s ease-in-out;

}
.fa-facebook:hover {
    text-shadow: 0 0 20px #1877F2;
}



footer {
    background: #000000;
    width: 100%;
    bottom: 0;
    display: flex;
    text-align: center;
    position: fixed;
    z-index: 1000;
}
.overlay {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
}


.overlay-right {
    right: 0;
    width: 20%;
    background: #e60073;
    transform: skew(-30deg);
}
.overlay-right1 {
    right: 0;
    width: 10%;
    background: #e60073;

}



/*
take note  .sidebar first before .sidebar_open
*/
.sidebar {
    height: 100vh;
    width: 380px;
    left: -320px;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 1009;
    transition: 0.3s ease-in-out;
    align-items: center;
}
/*
take note  below side bar
*/
.sidebar_open {
    left: 0; /* Slide in */
}

.profile-pic {
    width: 150px; /* Adjust size as needed */
    height: 150px;
    border-radius: 50%;
    padding: 10px;
}
.header-text {
    height: 100vh;
    width: 380px;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    background: linear-gradient(135deg, #3a031f, #ec4469);
 
 
}

#toggleBtn{
    background: transparent;
    margin-left: 5px;
    font-size: 32pt;
    border: transparent;
    position: relative;
}
.togglebtn_container{
    height: 100vh;

}
.prog_lang_layout{
    position: relative;
    width: 100%;
    
}
.prog_lang_layout p{
    word-wrap: break-word;
    font-size: 14pt;
}
.header-text p{
font-family: 'Courier New', Courier, monospace;
padding: 0;
color: #f3edf0;
margin: 0;
}

.header_name_text{
    font-size: 20pt;
   font-weight: bold;
}
.header_prof_text{
    font-size: 14pt;
}

#openForm {
    position: absolute;
    right: 80px;
    top: 5px;
    color: #eeeaea;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 16pt;
    margin-bottom: 1%;
    padding: 5px;
    border-radius: 40px;
    border-bottom-left-radius: 0;
    background-color: #c71258;
    border: none;
    height: fit-content;
    animation: glow-image 1s ease-in-out infinite alternate;
    }




.contact-layout{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   margin-bottom: 10%;
}
.contact-layout p{
    padding: 5px;
    margin: 0;
    font-size: 14pt;
}
/*
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
    */
  @keyframes glow-image {
    0% {
        box-shadow: 0 0 5px #f1eff0;
    }
    50% {
        box-shadow: 0 0 10px #f5f4f4;
    }
    100% {
        box-shadow: 0 0 5px #f7f4f5;
    }
}

.scrolling-text-container {
    display: flex;
    justify-content: left;
    width:100%;
    overflow: hidden;
    white-space: nowrap;
    background: #000000;
    position: relative;
    left: -350px;
    animation: scrollText 10s linear infinite;
   
}

.scrolling-text {
   
    font-size: 3vh;
    color: white;

   
}

@keyframes scrollText {
    from {
        left: -350px;
    }
    to {
       left: 100%;
    }
}

/* Position Left and Right Overlays */



.disp{
    position: fixed; /* Stays above everything */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background: #0000002f;
  /*  background: rgba(0, 0, 0, 0.164); /* Optional: semi-transparent background */
    z-index: 10008; /* Ensures it is above everything */
}
.info_disp{
    position: fixed; /* Stays above everything */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background: #00000018;
  /*  background: rgba(0, 0, 0, 0.164); /* Optional: semi-transparent background */
    z-index: 10011; /* Ensures it is above everything */
}
.infobox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
    background: linear-gradient(135deg, #520129, #ec4469);
    border-radius: 50px;
    border-bottom-left-radius: 0;
    box-shadow: 10px 10px 5px rgba(17, 14, 13, 0.575);
/*
linear-gradient(135deg, #520129, #ec4469)
    background-color: #b1054c;
*/

}
.infobox button{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
}
.infobox p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16pt;
    color: #f1eff0;
}
.signin_form {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 300px;
    border-radius: 50px;
    border-top-right-radius: 0;
    box-shadow: 10px 10px 5px rgba(17, 14, 13, 0.575);
    padding: 5px 10px 30px 10px;
    /* Gradient Background */
    background: linear-gradient(135deg, #830343, #ff6b81);
}
.signin_form button {
    font-family: 'Courier New', Courier, monospace;
    color: #f1ecec;
    background-color: #6d0036;
    border-radius: 10px;
    border: none;
    border-bottom-right-radius: 0;
}
.close_btn_layout{
    width: 100%;
    display: flex;
    justify-content: flex-end;

}
#closeSignin{
    background: transparent;
    border: 0;
}
.signin_form button,input{
    font-size: 14pt;
    margin:5px;
}
.signin_form input{
    width: 200px;
}
.signin_form p{
    font-size: 16pt;
}
#closeSignup{
    background: transparent;
    border: 0;
}
.signup_form{
    font-family: 'Courier New', Courier, monospace;

    margin: 0;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
   background: linear-gradient(135deg, #830343, #ff6b81);
    border-radius: 50px;
    border-top-right-radius: 0;
    padding: 5px 10px 30px 10px;
    box-shadow: 10px 10px 5px rgba(2, 2, 2, 0.575);
}
.signup_form input{
    font-family: 'Courier New', Courier, monospace;
    color: #4e052a;
    font-size: 16pt;
    margin: 5px;
    border-radius: 10px;
    border: 0;
}
.signup_form button{
    font-family: 'Courier New', Courier, monospace;
    color: #f1ecec;
    background-color: #6d0036;
    font-size: 14pt;
    margin: 5px;
    border-radius: 10px;
    border: 0;
}


#messagesContainer{
    width: 95%; /* Set a width if needed */
    height: 70%; /* Fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}
#messagesContainer button,p{
font-size: 18pt;
}
#message_header{
    color: #eeeaea;
    padding: 0;
    margin: 0;
}
.message_form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;
    border: 1px solid #ccc;
    width: 30%; /* Adjust width as needed */
    margin: auto;
    background: #75144d;
    height: 80%;
    cursor: grab;
    position: absolute;
}

#closechatbtn {

    color: rgb(12, 12, 12);

    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16pt;

    border-radius: 50px;
}

#closechatbtn:hover {
    background-color: rgb(245, 8, 99);
    color: #eeeaea;
}
.signout_btn_container{
display:flex;
justify-content: flex-end;
width: 100%;
}

#sendMsgBtn{
    font-size: 16pt;
    border-radius: 50px;
}



.type_msg_box{
display: flex;
flex-direction: row;
width: 100%;
}

#inputmsg{
    width: 100%;
    font-size: 18pt;
    }
    
#emailDropdown{

    font-size: 18pt;
}

#directmsg_btn{
 position: absolute;
 left: 50px;
 border-radius: 20px;
 border-bottom-left-radius: 0;
 font-size: 12pt;
 border: none;
 font-family: 'Courier New', Courier, monospace;
 z-index: 10012;
}
.movable-div1 {
    visibility: hidden;
    width: auto;
    height: 20%;
    position: absolute;
   bottom: 100px;
    left:10px;
    cursor: grab;
    display: flex;
    border-radius: 10px;
    z-index: 10010;

}

.movable-div1 img {
    position: relative;
    width: auto; /* Makes the GIF fit inside */
    height: 100%;
    pointer-events: none;
}
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-size: 20pt;
    color: #eeeaea;
  }
  
  #circle1 {
    background: #ff38a571;
  }
  
  #circle2 {
    background: #ff8a426b;
  }
  
  #circle3 {
    background: #fcd34da4;
  }
  #circle4 {
    background: #1bcebf59;
  }
  
  #circle5 {
    background: #be1fb659;
  }
  
  #circle6 {
    background: #07e6194d;
  }
  

.bg_wall p{
    font-size: 20pt;
    color: #eeeaea;
    font-family:'Courier New', Courier, monospace;
    width: 50%;
    height: fit-content;
    margin-top: 10%;
    margin-left: 20%;
    padding: 10px;
    background: linear-gradient(135deg, #83034333, #e907525b);
}

.bg_wall{
    position: fixed;
    align-items: center;
    width: 100vw;
    height: 100vh;

    z-index: 5;
    transform: skewX(0deg) rotateZ(0deg);
   /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.329);  Drop shadow */

}

.project_page{

    padding: 0;
    top: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 100%;
    transition: 0.3s ease-in-out;

}
  .book {

    position: relative;
    width: 60%;
    height: 70%;
    perspective: 2000px;
    transition: 0.3s ease-in-out;

  }
  .book_open {
    top: 0;
  }
  /* Each page */
  .page {
 
    width: 100%;
    height: 100%;
    background: rgb(211, 180, 180);
    position: absolute;
    padding: 5px;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: transform 2s ease;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.329); /* Drop shadow */
    backface-visibility: hidden;
    box-sizing: border-box;
    margin: 0;
  }

  .page p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
  }
  .page img{
    width: 300px;
    height: auto;
  }
  #proj_title{
    font-weight: bold;
    font-size: 24pt;

  }
  /* Add inner shadow effect while flipping */
  .page::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.082);
    opacity: 0;
    transition: opacity 1.5s ease;
    z-index: 2;
  }
  
  .page.flipped::before {
    opacity: 1;
  }
  
  /* Layering pages correctly */
  .page:nth-child(1) { z-index: 60; }
  .page:nth-child(2) { z-index: 50; }
  .page:nth-child(3) { z-index: 40; }
  .page:nth-child(4) { z-index: 30; }
  .page:nth-child(5) { z-index: 20; }
  .page:nth-child(6) { z-index: 10; }
  
  /* Page flipping */
  .page.flipped {
    transform: rotateY(-180deg);
  }
  
  /* Navigation buttons */
  .nav-buttons {
    display: flex;
    width: 60%;
    position: relative;
    justify-content: space-evenly;
    padding: 0;
    text-align: center;

  }
  
  .nav-buttons button {
    background: none;
    font-size: 40px;
    border: none;
    color: rgb(250, 246, 248);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .nav-buttons button:hover {
    color: #f70088;
  }
  @media screen and (max-width: 600px) {
    .projects {
        flex-direction: column;  /* Change to Column */
        align-items: center;
    }
    .movable-div1{
       transform: scale(.6);
    }
    #book{
        width: 86%;
    }
    .nav-buttons{
        width: 90%;
    }
    #about-me-title{
        font-size: 20pt;
    }
    .message_form{
        width: 90%;
    }


    .page img{
        height: 200px;
    }
    .page p{
        font-family: 'Courier New', Courier, monospace;
        font-size: 12pt;
      }
   
      #proj_title{
        font-size: 16pt;
    
      }
      .bg_wall p{
           width: 90%;
           margin-left: 5%;
           margin-top: 40%;
 
      }
}
